{% extends forum_layout_template %}

{% block forum_content %}
    <form method="post" action="{{ path('forum_post_delete',{'id':post.id}) }}">
        {{ form_widget(form.type) }}
        {{ form_rest(form) }}
        <button type="submit">{{ 'post.delete.form.button'|trans }}</button>
    </form>
{% endblock %}