{% extends forum_layout_template %}

{% block forum_content %}
    <h1>{{ (app.request.attributes.get('id')?'post.edit.reply.header':'post.edit.header')|trans }}</h1>
    <div class="cf-post-editor">
        {{ form_errors(form) }}
        <form action="{{ path('forum_topic_add_post',{'topic_id': topic.id}) }}" method="post">
            {%  include "CFTheForumBundle:Forum:_post_form_widgets.html.twig"  with {'form':form}%}
            <input type="hidden" name="reply_to" value="{{ post.replyPost?post.replyPost.id:'' }}">
        </form>
    </div>
    {% include 'CFTheForumBundle:Forum:_jsEditor.html.twig' %}
{% endblock %}